footer
    div(class="container text-center" style="margin-top: 40px;")
      div(class="row justify-content-center")
        div(class="col-md-8")
          div(class="row")
            div(class="col-12 col-md-6")
              a(href="https://www.lcms.org/worship/lectionary-series") LCMS Lectionary Series
            div(class="col-12 col-md-6")
              a(href="https://sanctus.org") Sanctus.org
          div(style="margin-top: 20px;")
            p ©DailyReading #{year}