footer
    div(class="container text-center" style="margin-top: 40px;")
        div(class="row" style="margin-bottom: 10px;")
            div(class="col-4")
            div(class="col-2")
                a(href="https://forum.hisword.com") HisWord Forum
            div(class="col-2")
                a(href="http://bmzy.montrealccc.com") 不寐之夜
            div(class="col-4")
        p ©DailyReading #{year}