extends layout
block content
    div(class="container")
      div(class="row  justify-content-center")
        div(class="col-12 col-md-8")
            div(class = 'card' style="padding: 20px; margin-top: 40px;")
                p “主日经文”安排来自Lutheran Service Book (Pastoral Care Companion)第538至614页。从周一开始展示下一个主日的经文。如果2月2日是主日，主日经文可使用“The Presentation of Our Lord”的节期经文。LCMS在10月的最后一个主日使用“Reformation Day（宗教改革日）”的经文，11月的第一个主日使用“All Saints' Day（万圣节）”的经文。标题中()内、经文中【】内的内容为可选部分。
                hr
                p “每日经文”安排来自Lutheran Service Book (Pew Edition)第299至304页，其中选读的部分未加进来。每日一段旧约经文，一段新约经文，一年循环一次，包含几乎所有新约经文及三分之一的旧约经文。
                hr
                p “祷告诗篇”安排来自Lutheran Service Book (Pew Edition)第304页，分为晨祷诗篇及晚祷诗篇。
                hr
                p “背诵经文”为The Lutheran Study Bible所推荐。
                hr
                p 反馈问题请发邮件到ezerchen(AT)hotmail(DOT)com