extends layout
block content
    div(class="container")
      div(class="row  justify-content-center")
        div(class="col-12 col-md-8")
            div(class = 'card' style="padding: 20px; margin-top: 40px;")
                p 本站所有内容来自以下图书：Lutheran Service Book (Pastoral Care Companion)第49-55， 538-614页、Lutheran Service Book (Pew Edition)第299-304页、The Lutheran Study Bible、Lutheran Service Book (Propers of the Day)、中文和合本圣经。
                hr
                p “公祷”及“应季序祷文”利未牧师已翻译一部分，大部分尚未翻译，如果您有英语方面的恩赐，欢迎您的贡献。
                hr
                p Propers中极少部分句子不是圣经中的经文，保留了英文。
                hr
                p 路德教会主日程序Setting One的安排：起始赞美诗 ⤑ 认信（CONFESSION AND ABSOLUTION） ⤑ 启应诗篇（INTROIT） ⤑ 垂怜经（KYRIE） ⤑ 颂歌（HYMN OF PRAISE, Lent节期略过） ⤑ 公祷（SALUTATION and COLLECT OF THE DAY） ⤑ 读经（OLD TESTAMENT or FIRST READING） ⤑ 上行之诗（GRADUAL） ⤑ 读经（EPISTLE or SECOND READING） ⤑ 哈利路亚颂（ALLELUIA and VERSE） ⤑ 福音经文（Holy Gospel） ⤑ 主日赞美诗（HYMN OF THE DAY） ⤑ 主日证道（SERMON） ⤑ 信经（CREED） ⤑ 【坚信礼（CONFIRMATION）】 ⤑ 教会祷告（PRAYER OF THE CHURCH） ⤑ 奉献礼（OFFERING） ⤑ 【圣餐礼（SERVICE OF THE SACRAMENT）】 ⤑ 主祷文（LORD's PRAYER） ⤑ 祝福礼（BENEDICTION） ⤑ 结束赞美诗。
                hr
                p 联系邮箱：ezerchen(AT)hotmail(DOT)com