extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
          each value,key in collects
            div(class="border" style="padding: 10px; margin-top: 20px; margin-buttom: 20px;")
              if key === 'oneYear'
                div One-Year Series
              else
                div Three-Year Series
              div(class="card-text text-center") #{value.date} #{value.sundayName}
              hr
              div #{value.collect.en}
              hr
              if value.collect.zh !=''
                div #{value.collect.zh}
              else
                div 暂无翻译
